.skill__circle {
  &-shape {
    fill: none;
    stroke-width: 10;
  }

  &_under {
    stroke: #eaeaea;
  }

  &_above{
    stroke: #5500f2;
    stroke-dasharray: 155.43 282.6;
    transition: all 1s;
  }
}