.footer {
  padding: 3opx 0;
  color:  #fff;
  background: #1f232d;

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__copyright {
    width: 30%;
  }

  &__data {
    width: 60%;
  }

  &__menu {
    margin-bottom: 30px;
  }
}

