.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 36px;
  font-weight: 800;
  line-height: 30px;
}

.header__menu {
  flex: 1;
  display: flex;
  justify-content: center;
  margin: 0 20px;
}

.nav__item {
  margin-right: 60px;

  &:last-child{
    margin-right: 0;
  }
}