
.skills-row__item {
  max-width: 200px;
  width: 100%;
  position: relative;
  margin: 0 15px;
}

.skill__shape {
  width: 100%;
}

.progress__circle {
  fill: transparent;
}

.progress__circle-under {
    stroke-width: 7;
    stroke: #eaeaea;
}

.progress__circle-above {
    stroke-width: 15;
    stroke-dasharray: 286;
}