.triangles {
  position: relative;
  height: 130px;
  margin-top: 80px;
}

.triangles__item {
  display: block;
  width: 50%;
  position: absolute;
  height: 100%;
  fill: #fff;

  &--left {
    left: 0;
  }

  &--right {
    right: 0;
  }
}