.welcome-section {
  background: rgba(#ccc, .5);
  background-image: resolve('section1.jpg');
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
  position: relative;
}