.works__container {
  margin-left: 150px
}
.link-icon{
  width: 15px;
  height: 15px;
  fill: #4b6fd7;
}

.works-slider__full-pic {
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;

  &.active {
    width: 975px;
    height: 549px;
  }
}

