mixin nav(classes)
  nav(class=`${classes}`)
    ul.nav__list
      - var menu = ['Главная', 'Обо мне', 'Навыки', 'Работы', 'Отзывы', 'Связаться'];
      each item in menu
        li.nav__item
          a(href="").nav__link #{item}