mixin nav(classes)
  nav(class=`${classes}`)
    ul.nav__list
      - var menu = ['Home', 'About me', 'Skills', 'Examples', 'Contact me'];
      each item in menu
        li.nav__item
          a(href="").nav__link #{item}